        @font-face {
                font-family: fonteTitulo;
                src: url(../fonts/Inspiration/Inspiration-Regular.ttf);
        }

        @font-face {
                font-family: fonteh2;
                src: url(../fonts/Inspiration/SUSE_Mono/SUSEMono-Italic-VariableFont_wght.ttf);
        }


        * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
        }

        body {
                margin: 0;
                padding: 0;
        }

        nav {
                margin-bottom: 20px;
        }

        nav a {
                margin-right: 15px;
                font-size: 1.2em;
        }

        #products {
                max-width: 70%;
                margin-left: 7.5%;
                /*margin-right: 25%;*/
                align-items: center; 
        }

        #titulo {
                background-color: #1b5d9a;
        }

        h1 {
                padding: 0.2em;
                font-family: fonteTitulo;
                font-size: 8em;
                text-align: center;
                background-color:  #88b0be;
        }

        h2 {
                padding: 0.2em;
                font-family: fonteh2;
                font-size: 2.5em;
                text-align: center;
               background-color:   #E8E3DD ;
                width: size-content;
                margin: 0 auto;
        }

        h1 a:active,
        h1 a:visited,
        h1 a:hover,
        h1 a:link {
                color: inherit;
                text-decoration: none;
        }

        .segundo-cabeçalho {
                background-color: #E2DDD4;
                height: 5.5em;
                text-align: center;
                align-items: center;
                justify-content: center;
                display: flex;
                position: relative;
                 /* PROPRIEDADES PARA FIXAR AO SCROLL */
                position: sticky; /* Define o comportamento de "grudar" */
                top: 0; /* Ponto onde o elemento deve grudar (o topo da viewport) */
                width: 100%; /* Garante que ocupe a largura total */
                z-index: 10; /* Garante que fique sobre o conteúdo ao rolar */
        }

        .menu-sombra-fixa {
                /* Box shadow: 0 (offset-x) 2px (offset-y) 5px (blur) rgba(0,0,0,0.2) (cor/opacidade) */
                box-shadow: 0 4px 6px -6px #333; 
                /* Esta sombra é sutil, focada para baixo */
                /* Você pode ajustar o '0 4px 6px -6px #333;' para a sombra que preferir. */
        }

        .pesquisa {
                background-image: url('../img/lupa.png');
                /* fix the path */
                background-position: right 0.5em center;
                background-repeat: no-repeat;
                background-size: 1em;
                padding-left: 2em;
                border-radius: 0.6em;
                padding: 0.8em;
                width: 35em;
                border: none;
                /* remove default white/gray border */
                outline: none;
                /* optional: removes blue outline on focus */
                background-color: #fff;
                /* or match your background */
                margin: auto;
                font-size: 1em;
        }

        .carrinhoFoto {
                width: 3em;
                height: 3em;
                position: absolute;
                right: 10em;
        }

        .favoritosFoto {
                width: 3.5em;
                height: 3.5em;
                position: absolute;
                right: 6.7em;
        }

        .cadastroFoto {
                width: 3.5em;
                height: 3.5em;
                position: absolute;
                right: 2em;
        }

        .vermaisFoto {
                width: 2.8em;
                height: 2.8em;
                position: absolute;
                left: 2em;
        }

        .banners {
                height: 28em;
                background-color: #E8E3DD;
                display: flex;
                justify-content: center;
                align-items: center;
        }

        .banner1 {
                max-height: 100%;
                max-width: 100%;
                height: auto;
                width: auto;
        }

        .categorias {
                display: flex;
                justify-content: center;
                gap: 2em;
                background-color: #E8E3DD;
                font-family: fonteh2;
        }

        .categoria-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                text-decoration: none !important;
                color: inherit !important;
        }

        .categoria-item img {
                border-radius: 50%;
                width: 12em;
                height: 12em;
                object-fit: cover;
                margin-bottom: 0.5em; /* espaço entre imagem e texto */
        }

        .categoria-item p {
                margin: 0;
                font-size: 1em;
                line-height: 1.2;
                text-decoration: none !important;
                color: inherit !important;
        }
        
        .temas {
                display: flex;
                justify-content: center;
                padding: 1em;
                margin: 0 1em;
        }

        .legendas {
                background-color: #E8E3DD;
                font-family: fonteh2;
                display: inline-block;
        }

        .side-menu {
                position: absolute;
                top: 1;
                left: -20em;
                width: 20em;
                height: 45.5em;
                background-color: #E8E3DD;
                box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
                padding-top: 5em;
                transition: left 0.3s ease;
                z-index: 1000;
                font-family: "fonteh2";
                position: fixed;
                top: 5.5em;
        }

        .side-menu-fade {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3em;
        background: linear-gradient(to bottom, rgba(232, 227, 221, 0), #E8E3DD);
        pointer-events: none; /* garante que ele não bloqueie cliques */
        }


        #menu-toggle:checked~.side-menu {
                left: 0;
        }

        .side-menu ul {
                list-style: none;
                padding: 0;
                margin: 0;
        }

        .side-menu li {
                padding: 1em;
                border-bottom: 1px solid #ccc;
        }

        .side-menu a {
                text-decoration: none;
                color: #000;
                font-size: 1.2em;
                display: block;
        }

        .espaço {
                background-color: #E8E3DD;
                height: 2em;
        }

        .produtos {
        background-color:#E8E3DD ; 
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        }

        .product-item {
        width: 250px; 
        height: 300px; 
        display: inline-block;
        align-items: center;
        justify-content: space-between;
        margin: 27px;
        margin-bottom: 34px;
        border: 7px solid #a38f7e;
        background-color: #f7f1eb;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        .product-item-img {
                width: 100px;
                height: 100px;
                border-radius: 10px;
                margin-bottom: 10px;
                display:block ; 
                align-items: center;
                margin: 0 auto;
        }

        .botao{
                display: flex;
                gap: 8px;
                justify-content: center;
                gap: 8px;  
                margin-top: auto;
        }


        .product-item .info {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 8px;
                display: inline-block
        }

        .product-item .price {
                font-weight: normal;
                color: #333;
                margin-bottom: 8px;
                display: inline-block;
        }


        button {
                background-color: #1b5d9a; 
                color: white;
                border: none;
                padding: 6px 10px;
                border-radius: 6px;
                cursor: pointer;
                font-size: 13px;
        }

        button:hover {
                background-color: #061a52;
        }

        #add-carrinho{
                width: 80px; 
        }
        
       